.bank_list_cont{
    margin-top: 86px;
    margin-left: 0px;
    width: 20%;
    float: left;
}

.banklisttable{
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
}



.innerp{
    margin: 0px;
    padding: 0px;
}

thead{
    width: 100%;
}
.banklisttable>tbody>tr{
    margin: 0px;
    padding: 0px;
}
.banklisttable>tbody>tr>td{
    border: 2px solid black;
}

.banklisttable>tbody>tr>.switch{
    margin: 2px 0px;
    font-size: 18px;
    color: white;
    background-color: #244f89;
    padding: 2px 0px 4px 10px;
}

.switch{
    margin: 0px;
    padding: 6px;
}

.switch:hover{
    font-size: 20px;
    text-decoration: underline;
    cursor: all-scroll;
    /* or grab^ */
    font-weight: 650;
}

.addbank{
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 2px 0px 4px 10px;
}

.addbank:hover{
    font-size: 20px;
    cursor: pointer;
}


.nothing{
    border: none;
}

.addbankp{
    margin: 0px;
    padding: 0px;
}

.addbankcont{
    display: none;
}

.addbankform{
    font-size: 18px;
    text-decoration: none;
}

.companyname{
    margin-bottom: 2px;
}

.addbankname:hover{
    font-size: 18px;
}

.bankaddsub{
    display: inline-block;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border-color: green;
}

.bankaddsub:hover{
    background-color: rgb(8, 232, 8);
    border-color: green;
}

.bankaddexit{
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border-color: red;
}

.bankaddexit:hover{
    background-color: rgb(161, 6, 6);
    border-color: red;
}


.bank_info_cont{
    margin-top: 86px;
    float: right;
    width: 76%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

@media(max-width: 600px){
    .bank_info_cont{
        width: 72%;
    }
}

@media(max-width: 500px){
    .bank_info_cont{
        width: 250px;
    }
    .nworktable>tbody>tr>:nth-child(3){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(4){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(5){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(6){
        display: none;
    }
}
@media(max-width: 375px){
    .bank_info_cont{
        width: 150px;
    }
    .nworktable>tbody>tr>:nth-child(3){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(4){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(5){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(6){
        display: none;
    }
}


/* Change write-up to be pretty */
/* Enter Reaction */
.bank_info_cont{
    padding: 5px;
    color: black;
}

.bank_name{
    text-decoration: underline;
    margin: 10px 0px;
    font-size: 24px;
    display: inline-block;
}

.banklogo{
    width: 75px;
    height: 75px;
    float: right;
}

.writtencont{
    display: none;
}

#writeup,
#interviewsum{
    font-size: 18px;
    margin: 5px 0px 10px 0px;
}

.banknotescont{
    width: 100%;
}

.banknotes{
    width: 98%;
}

#banknotesbutton{
    display: none;
}

.toptitle{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    text-decoration: underline;
}

.notestitle{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    text-decoration: underline;
}

.bottomtitle{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    text-decoration: underline;
}

#emailformat{
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-size: 15px;
}

.notescont{
    display: none;
}

.contactcont{
    display: none;
}