body{
    background-color: white;
    margin: 10px;
    /* EDIT AT LATER DATE */
}

.videobox{
    border: 8px solid #244f89;
    width: 100%;
}

.tempvideo{
    width: 100%;
    height: auto;
}

.link-bucks{
    border: 5px solid #244f89;
}

.login-link-buck{
    margin: 20px 0px;
    position: relative;
    left: 25%;
}

.register-link-buck{
    margin: 20px 0px;
    position: relative;
    left: 55%;
}

a{
    text-decoration: none;
    color: #244f89;
}

a:hover{
    text-shadow: 3px black;
    color: #244f89;
    font-weight: bold;
}