body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
    overflow-x: hidden;
}

.nav_bar_sticky{
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 4rem 5rem; */
    align-items: center;
    z-index: 100;
    width: 100%;
    transition: 0.6s;
    background-color: white;
    color: rgb(50, 68, 121);
    border-bottom: 2px solid black;
}

img.logo{
    width: 275px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 10px;
}

.nav_cont_list{
    list-style: none;
    padding: 0px;
    margin-left: 325px;
}

.nav_cont_list>li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    padding: 20px 10px;
}

.nav_cont_list>li>a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: #244f89;
    height: 10px;
    width: auto;
    display: block;
    text-align: center;
    line-height: 10px;
}

.nav_cont_list>li>a:hover{
    text-shadow: 2px black;
    color: red;
}

.bank_list_cont{
    margin-top: 82px;
    margin-left: 0px;
    width: 20%;
    float: left;
}

.banklisttable{
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
}

.innerp{
    margin: 0px;
    padding: 0px;
}

thead{
    width: 100%;
}
.banklisttable>tbody>tr{
    margin: 0px;
    padding: 0px;
}
.banklisttable>tbody>tr>td{
    border: 2px solid black;
}

.banklisttable>tbody>tr>.switch{
    margin: 2px 0px;
    font-size: 18px;
    color: white;
    background-color: #244f89;
    padding: 2px 0px 4px 10px;
}

.switch{
    margin: 0px;
    padding: 6px;
}

.switch:hover{
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 650;
}

.addbank{
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 2px 0px 4px 10px;
}

.addbank:hover{
    font-size: 20px;
    cursor: pointer;
}


.nothing{
    border: none;
}

.addbankp{
    margin: 0px;
    padding: 0px;
}

.addbankcont{
    display: none;
}

.addbankform{
    font-size: 18px;
    text-decoration: none;
}

.addbankname:hover{
    font-size: 18px;
}

.compname{
    display: block;
}


.bank_info_cont{
    margin-top: 80px;
    float: right;
    width: 76%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

@media(max-width: 600px){
    .bank_info_cont{
        width: 72%;
    }
}

@media(max-width: 500px){
    .bank_info_cont{
        width: 250px;
    }
    .nworktable>tbody>tr>:nth-child(3){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(4){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(5){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(6){
        display: none;
    }
}
@media(max-width: 375px){
    .bank_info_cont{
        width: 150px;
    }
    .nworktable>tbody>tr>:nth-child(3){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(4){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(5){
        display: none;
    }
    .nworktable>tbody>tr>:nth-child(6){
        display: none;
    }
}


/* Change write-up to be pretty */
/* Enter Reaction */
.bank_info_cont{
    padding: 5px;
    color: black;
}

.bank_name{
    text-decoration: underline;
    margin: 10px 0px;
    font-size: 24px;
    display: inline-block;
}

.banklogo{
    width: 50px;
    height: 50px;
    float: right;
}

.writtencont{
    display: none;
}

#writeup,
#interviewsum{
    font-size: 18px;
    margin: 5px 0px 10px 0px;
}

.banknotescont{
    width: 100%;
}

.banknotes{
    width: 98%;
}

#banknotesbutton{
    display: none;
}

.toptitle{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    text-decoration: underline;
}

.notestitle{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    text-decoration: underline;
}

.bottomtitle{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    text-decoration: underline;
}
