body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.nav_bar_sticky{
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 4rem 5rem; */
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 100%;
    transition: 0.6s;
    background-color: gainsboro;
    border-bottom: 2px solid black;
}

.nav_cont_list{
    display: inline;
    padding: 0px;
    margin: 10px 5px;
}

.nav_cont_list>li{
    display: inline-block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 20px;
}
.nav_cont_list>li>a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    color: #000;
    height: 10px;
    width: auto;
    display: block;
    text-align: center;
    line-height: 10px;
    padding: 0px 20px;
}

.nav_cont_list>li>a:hover{
    color: red;
    text-shadow: 2px black;
}

.bank_list_cont{
    margin-left: 0px;
    display: flexbox;
    width: 20%;
    float: left;
}

.bank_list{
    margin-top: 44px;
    margin-left: 5px;
    padding: 0px;
    list-style: none;
}

.bank_list>li{
    border: 2px solid black;
}

.bank_list>li>p{
    font-size: 10px;
    text-decoration: none;
    color: black;
    padding: 0px 1px;
}

.bank_list>li>p:hover{
    font-size: 10px;
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.bank_info_cont{
    margin-top: 44px;
    display: flexbox;
    float: right;
    width: 77%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}


/* Change write-up to be pretty */
/* Enter Reaction */
.bank_info_cont{
    padding: 5px;
    color: black;
}

.bank_name{
    text-decoration: underline;
    margin: 10px 0px;
}

#item_title{
    margin: 10px 0px;
    text-decoration: underline;
}

#writeup,
#interviewsum{
    font-size: 12px;
}

.contactmodal{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

table,th,td{
    border: 2px solid;
    border-collapse: collapse;
    width: 100%;
}

.nocontacts{
    display: inline-block;
}

.contacttitle{
    width: 20%;
}
/* 
.confirmchecks{
    width: 10px;

} */