.display_nav{
    display: block;
    margin-top: 78px;
    overflow-x: hidden;
}

#colds{
    margin: 20px 0px;
    position: relative;
    left: 15%;
}

/* #colds:hover{

} */

#calls_had{
    margin: 20px 0px;
    position: relative;
    left: 34.9%;
}

#apps{
    margin: 20px 0px;
    position: relative;
    left: 56%;
}

.contcont_body{
    margin: 10px;
}

.cont_body{
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

.appcont{
    display: flex;
    height: fit-content;
}

.bank_cont{
    display: flex;
    border: 2px solid black;
    width: 20%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.bank_apps{
    color:#244f89;
}

.banknotes_cont{
    display: inline-block;
    border: 2px solid black;
    width: 40%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    overflow-wrap: break-word;
}

/* .banklink{
    display: inline-block;
    border: 2px solid black;
    width: 20%;
    font-size: 20px;
    text-align: center;
} */

/* .applink_cont{

}

.appdate_cont{

} */